/* .flexbox-container {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}

.flexbox-container > div {
	width: 50%;
	padding: 10px;
  background: $secundary-color;
}

.flexbox-container > div:first-child {
	margin-right: 10px;
}
 */

$cols	: 12;
$gap	: 0px;

.container {
	width: 100%;
	justify-content: space-between;
	margin: 0 auto;
	//padding-left: $gap/2;
	//padding-right: $gap/2;

	//height: 60vh;
	max-width: 1024px;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 3rem;

}

/* .gs-grid{
	display: flex;
	flex-wrap: wrap;
	//margin-left: $gap / -2;
	//margin-right: $gap / -2;

} */

[class*="col-"],
.col{
	width: 100%;
	max-width: 100%;
	//padding-left: $gap / 2;
	//padding-right: $gap / 2;
	flex: 1 0 0;
}



.col-ex{
	padding-top: 1rem;
	padding-bottom: 1rem;
	display: grid;
	text-align: justify;

	&__image {
		width: 60%;
		max-width: 400px;
		height: fit-content;
		margin: auto;
		border-radius: 15px;
		object-fit: contain;
	}

	&__title{
		position: relative;
		transform: translate(0%, 10%);
		text-align: center;
		font-size: $font-size-m;
		font-weight: bold;
		width: 80%;
		max-width: 300px;
		margin: 0 auto;
		background-color: $secundary-color;
		color: $dark-color;
		border-radius: 5px;

	}
	&__subtitle{
		text-align: center;
		font-size: $font-size-m;
		font-weight: 570;
		width: 70%;
		max-width: 900px;
		margin: 0 auto;
		color: $dark-color;
	}
}
