@import '../../style.scss';

.header-causas {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	background-color: $light-color;
	position: relative;
	margin-bottom: 2rem;

	&__image {
		width: 70%;
		max-width: 700px;
		height: fit-content;
		margin: auto;
		padding-top: 5%;
		border-radius: 10px;
		object-fit: contain;
		
	}

	&__title {
		position: absolute;
		top: 70%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: $font-size-m;
		text-align: center;
		width: 100%;
		max-width: 1024px;
		margin: 0 auto;
		background-color: $light-color;
		color: $dark-color;
		border-radius: 5px;

		transition: all 0.5s;

		&--scrolled {
			color: $primary-color;
			background-color: $dark-color;
		}
	}

	& span {
		text-transform: uppercase;
	}
}

@media (min-width: 768px) {
	.header-causas {
		&__image {
			width: 70%;
			height: fit-content;
		}
		&__title {
			font-size: $font-size-l;
			font-weight: 500;
		}
	}
}

@media (min-width: 1024px) {
	.header-causas {
		&__title {
			font-size: $font-size-lr;
			font-weight: 600;
			max-width: 400px;
		}
	}
}