.slick-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
  
    .slick-slide {
      text-align: center;
      height: 100%;
    }
  }