.video-responsive {
    //overflow: hidden;
    margin: auto;
    padding-bottom: 56%;
    position: relative;
    transform: translate(0%,0%);
    height: 100px;
    width: 800px;
    //max-width: 1024px;
  }
  
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }