@import '../../style.scss';

.video-responsive {
    overflow: hidden;
    margin: auto;
    padding-bottom: 50%;
    position: relative;
    transform: translate(0%,0%);
    //height: 150px;
    width: 500px;
    max-width: 800px;
    //background-color: #dffdff;
  }
  
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 50%;
    width: 100%;
    position: absolute;
  }