// estilos para la card simple
.simpleCard {
	max-width: 90%;
	text-align: center;
	padding: 15px;
	border: 1px solid $secundary-color;
	border-radius: 15px;
	transition: all 0.5s ease;

	&:hover {
		transform: scale(1.05);
		box-shadow: 0 31px 0px -20px $secundary-color;
	}

	&__title {
		font-weight: 500;
		padding: 10px 0;
		font-size: $font-size-s;
	}
}

@media (min-width: 768px) {
	.simpleCard {
		max-width: 80%;

		&__description {
			padding: 0 25px;
		}
	}
}

@media (min-width: 1024px) {
	.simpleCard {
		max-width: 65%;
	}
}

//ESTILOS PARA LA IMAGE CARD

.ImageCard {
	margin: auto;
	max-width: 300px;
	position: relative;
	transition: all 0.5s ease;
	width: 100%;

	&__imagen {
		position: relative;
		transition: all 0.5s ease;
	}

	&__link {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		transition: opacity 0.5s;
		background-color: $primary-color;
		color: $light-color;
		padding: 10px 20px;
		font-weight: 500;
		transition: all 0.5s ease;

		&:hover {
			background: $secundary-color;
			color: $dark-color;
		}
	}

	&:hover &__link {
		opacity: 1;
	}
}
