// estilos para la card simple
.simpleCard {
	max-width: 90%;
	text-align: center;
	padding: 15px;
	border: 1px solid $secundary-color;
	border-radius: 15px;
	transition: all 0.5s ease;

	&:hover {
		transform: scale(1.05);
		box-shadow: 0 31px 0px -20px $secundary-color;
	}

	&__title {
		font-weight: 600;
		padding: 10px 0;
		font-size: $font-size-l;
	}
}

@media (min-width: 768px) {
	.simpleCard {
		max-width: 80%;

		&__description {
			padding: 0 25px;
		}
	}
}

@media (min-width: 1400px) {
	.simpleCard {
		max-width: 60%;
	}
}
