.header-home {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: $color-light;
	position: relative;
	margin: 2rem 0;
	&__image {
		width: 90%;
		max-width: 600px;
		height: fit-content;
		margin: auto;
		border-radius: 15px;
		object-fit: contain;
	}

	&__title {
		position: absolute;
		top: 70%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: $font-size-m;
		text-align: center;
		width: 80%;
		max-width: 300px;
		margin: auto;
		background-color: $color-light;
		color: $color-dark;
		border-radius: 5px;

		transition: all 0.5s;
	}

	& span {
		text-transform: uppercase;
	}
}

.header-home > .--scrolled {
	color: $color-primary;
	background-color: $color-dark;
}

@media (min-width: 768px) {
	.header-home {
		&__title {
			font-size: $font-size-l;
			font-weight: 500;
		}
	}
}

@media (min-width: 1024px) {
	.header-home {
		&__title {
			font-size: $font-size-lr;
			font-weight: 600;
			max-width: 400px;
		}
	}
}
