.buttonDonar {
	display: flex;
	justify-content: flex-end;
	padding-right: 5px;
	//float: right;
	width: 100%;
	z-index: 100;
	position: sticky;
	top: 130px;
	&__link {
		padding: 0.5rem;
		border-radius: 15px;
		background-color: $color-secundary;
		animation: cambio_color 5s linear infinite;

		&:hover {
			transform: scale(1.03);
		}
	}
}

@keyframes cambio_color {
	0% {
		background-color: $color-secundary;
	}
	50% {
		background-color: $color-primary;
	}
}

@media (min-width: 768px) {
	.buttonDonar {
		top: 150px;
	}
}
