.buttonDonar {
	display: flex;
	justify-content: flex-end;
	padding-right: 5px;
	//float: right;
	width: 100%;
	z-index: 100;
	position: sticky;
	top: 130px;
	&__link {
		padding: 0.5rem;
		border-radius: 15px;
		background-color: $secundary-color;
		animation: cambio_color 5s linear infinite;
		transition: transform 0.1s ease;

		&:hover {
			transform: scale(1.03);
		}
	}
}

.buttonVoluntariado {
	display: flex;
	justify-content: center;
	width: 50%;
	position: relative;
	transform: translate(50%,0);
	padding: 0.5rem;
	border-radius: 5px;
	background-color: $primary-color;
	top: 10px;
}

@keyframes cambio_color {
	0% {
		background-color: $secundary-color;
	}
	70% {
		background-color: $primary-color;
	}
}

@media (min-width: 768px) {
	.buttonDonar {
		top: 150px;
	}
}
