.navbar {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	background-color: $color-light;
	color: $color-dark;
	font-size: $font-size-xs;
	padding: 15px 0;
	position: sticky;
	top: 0;

	width: 100%;
	transition: background-color 0.5s ease;
	font-weight: 700;

	&--scrolled {
		background-color: $color-dark;
		color: $color-light;

		& .navbar__link {
			&:hover {
				//text-decoration: underline;
				border-bottom: 2px solid $color-light;
			}
		}
	}

	&__title {
		width: 100%;
		text-align: center;
		font-size: $font-size-s;
	}

	&__eafit {
		text-transform: uppercase;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		justify-content: center;
		align-items: center;
		font-weight: 300;
		padding: 10px;
	}

	&__link {
		//text-decoration-skip-ink: auto;
		border-bottom: 2px solid transparent;
		transition: all 0.3s ease-in-out;
		&:hover {
			//text-decoration: underline;
			border-bottom: 2px solid $color-dark;
		}

		&--active {
			//text-decoration: underline;
			color: $color-primary;
			border-bottom: 2px solid $color-primary;
			transform: scale(1.2);
		}
	}
}
