@import '../style.scss';

.navbar {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	background-color: $light-color;
	color: $dark-color;
	font-size: $font-size-xs;
	padding: 15px 0;
	position: sticky;
	top: 0;
	width: 100%;
	transition: background-color 0.5s ease;
	font-weight: 700;
	z-index: 1000;

	&--scrolled {
		background-color: $dark-color;
		color: $light-color;

		.navbar {
			&__link {
				&:hover {
					border-bottom: 2px solid $light-color !important;
				}
			}

			&__title {
				color: $primary-color !important;
				transform: scale(1.2);
			}
		}
	}

	&__title {
		width: 80%;
		text-align: center;
		font-size: $font-size-s;
	}

	&__eafit {
		text-transform: uppercase;
	}

	&__nav-container {
		padding-top: 15px;
	}

	&__toggler {
		display: block;
		margin: auto;
		font-size: $font-size-m;
	}

	&__list-container {
		display: none;
	}

	&__list-container.show {
		display: block;
	}

	&__list {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__item {
		margin-bottom: 1rem;
		margin-right: 0;
	}

	&__link {
		border-bottom: 2px solid transparent;
		transition: all 0.3s ease-in-out;
		&:hover {
			border-bottom: 2px solid $dark-color !important;
		}

		&--active {
			color: $primary-color;
			border-bottom: 2px solid $primary-color !important;
			transform: scale(1.2);
		}
	}
}

@media (min-width: 768px) {
	.navbar {
		display: flex;
		flex-direction: row;

		&__toggler {
			display: none;
		}

		&__list-container {
			display: block;
		}

		&__list {
			display: flex;
			flex-direction: row;
			align-items: center;
			flex-wrap: wrap;
			gap: 20px;
			justify-content: center;
			align-items: center;
			font-weight: 400;
			padding: 10px;
		}
	}
}
