@import "../style.scss";

.navbar-micrositio {
	width: 100%;
	display: grid;
	grid-template-rows: repeat(1, 1fr);
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
	justify-content: center;
	align-items: center;

	&__imagen {
		height: auto;
		object-fit: fill;
		max-width: 150px;
		margin: auto;
	}

	&__texto {
		font-size: $font-size-m;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: $primary-color;
	}

	&__subtexto1 {
		width: 100%;
	}

	&__subtexto2 {
		max-width: 200px;
		color: $dark-color;
		font-size: $font-size-st;
	}
}

@media (min-width: 768px) {
	.navbar-micrositio {
		gap: 30px;

		&__imagen {
			max-width: 200px;
		}

		&__texto {
			font-size: $font-size-l;
		}

		&__subtexto2 {
			max-width: 350px;
			font-size: $font-size-xs;
		}
	}
}

@media (min-width: 1024px) {
	.navbar-micrositio {
		gap: 30px;

		&__imagen {
			max-width: 350px;
		}

		&__texto {
			font-size: $font-size-xl;
		}

		&__subtexto2 {
			max-width: 400px;
			font-size: $font-size-sr;
		}
	}
}
