//colores

$primary-color: #537fe7;
$secundary-color: #c0eef2;
$dark-color: #181823;
$light-color: #e9f8f9;

/* 
$primary-color: #146c94;
//$primary-color: #19a7ce;
$secundary-color: #19a7ce;
//$secundary-color: #146c94;
//$dark-color: #000;
$dark-color: #181823;
$light-color: #f6f1f1;
 */

//tamaño fuente
//smallest (st) - extra small (xs) - smaller (sr) - small (s) - medium (m) - large (l) - larger (lr) - extra large (xl) - largest (ls)
//el más pequeño - extra pequeño - muy pqueño - medio - grande - muy largo - extra largo - el más largo
$font-size-st: 0.7rem;
$font-size-xs: 1rem;
$font-size-sr: 1.2rem;
$font-size-s: 1.5rem;
$font-size-m: 1.8rem;
$font-size-l: 2rem;
$font-size-lr: 2.5rem;
$font-size-xl: 3rem;
$font-size-lt: 4rem;


//fuentes
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$font-tertiary: 'Sintony', sans-serif;
$font-alternate: 'Ephesis', cursive;


