//colores
$color-primary: #537fe7;
$color-secundary: #c0eef2;
$color-dark: #181823;
$color-light: #e9f8f9;

//tamaño fuente
$font-size-st: 0.7rem;
$font-size-xs: 1rem;
$font-size-sr: 1.3rem;
$font-size-s: 1.5rem;
$font-size-m: 2.5rem;
$font-size-l: 3.5rem;
$font-size-lr: 5rem;
$font-size-xl: 7rem;
$font-size-lt: 10rem;
